<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.knowly">

    <application
        android:allowBackup="true"
        android:label="Knowly"
        android:theme="@style/Theme.Knowly">

        <!-- Splash screen -->
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Login screen -->
        <activity android:name=".LoginActivity" />

        <!-- Forgot password screen -->
        <activity android:name=".ForgotPasswordActivity" />

        <!-- OTP screen -->
        <activity android:name=".OtpActivity" />

        <!-- Reset password screen -->
        <activity android:name=".ResetPasswordActivity" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>
